@import url('https://fonts.googleapis.com/css?family=MonteCarlo');
@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');

:root {
    --main-color:#1e1e1e;
    --bs-body-bg: #1e1e1e;
    --secondary-color: #99795a;
    --red-color: #c20505;
    --yellow-color: #ffcc00;
}

*{
    font-family: 'Raleway';
}

[data-bs-theme="dark"] {
    background-color: var(--main-color) !important;
}

.nav-link.active {
    color: var(--secondary-color) !important;
}

/* ------------------------ SPLASH SCREEN ------------------------ */
.splash-screen {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background: var(--main-color);
    display: flex;
    align-items: center;
    justify-content: center;
    transition: opacity 1s ease;
    z-index: 1000;
    flex-direction: column;
}

.splash-screen img {
    width: 40%;
    height: 40%;
    rotate: -5deg;
    opacity: 0;
    transform: translateY(-50px);
    animation: fadeInMove 1.5s ease-in-out forwards, pulse 1.5s infinite alternate ease-in-out 2s;
    cursor: pointer;
    will-change: transform, opacity;
}

.splash-screen h1{
    font-family: 'MonteCarlo';
    font-size: 5em;
    opacity: 0;
    animation: fadeIn 2s ease-in-out forwards;
    animation-delay: 1s;
    will-change: opacity;
}

/* Entry animation */
@keyframes fadeInMove {
    0% { opacity: 0; transform: translateY(-100px); }
    100% { opacity: 1; transform: translateY(0); }
}

/* Entry animation */
@keyframes fadeIn {
    0% { opacity: 0; }
    100% { opacity: 1; }
}

/* Subtle pulsing effect to attract attention */
@keyframes pulse {
    0% { transform: scale(1); }
    100% { transform: scale(1.2); }
}

/* ------------------------ NAVBAR ------------------------ */
.navbar {
    padding: 15px 0;
    position: relative;
}

.navbar-brand {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}

.logo {
    height: 80px; /* Adjust as needed */
}


/* Ensures the logo stays centered on mobile */
@media (max-width: 991px) {
    .navbar-brand {
        position: static;
        transform: none;
        text-align: center;
        display: block;
        margin: auto;
    }
    .navbar-nav {
        text-align: center;
    }
}


/* ------------------------ HOME PAGE ------------------------ */
.hero {
    position: relative;
    height: 90vh;
    background: url('../images/hero-1.jpg') center/cover no-repeat;
}
.hero::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.6);
}
.hero-content {
    position: relative;
    z-index: 1;
    text-align: center;
    padding-top: 5vh;
}

.hero-special-text {
    text-shadow: 0 4px 6px #1e1e1e;
}

.feature-icons i {
    font-size: 2rem;
    color: var(--secondary-color);
}
