---
import Layout from '../layouts/Layout.astro';
import Sillhouette from "../images/rent-my-dress/girl_sillhouette.svg"
---

  <Layout>
    <h1>Rent Your Perfect Outfit</h1>
    <div class="info-box">
      Start with a dress, then add a bag and shoes if you like.<br>
      You can mix Premium and VIP. To select nothing, choose "X".
    </div>

    <div class="rent-container">
      <!-- Silhouette & Controls -->
      <div class="silhouette-wrapper">
        <img src={Sillhouette.src} alt="Silhouette"/>


        <div class="control dress">
        <span class="arrow" data-action="dress-left">&#8592;</span>
        <span id="dress-text">None</span>
        <span class="arrow" data-action="dress-right">&#8594;</span>
        </div>

        <div class="control bag disabled">
        <span class="arrow" data-action="bag-left">&#8592;</span>
        <span id="bag-text">None</span>
        <span class="arrow" data-action="bag-right">&#8594;</span>
        </div>

        <div class="control shoes disabled">
        <span class="arrow" data-action="shoes-left">&#8592;</span>
        <span id="shoes-text">None</span>
        <span class="arrow" data-action="shoes-right">&#8594;</span>
        </div>
      </div>

      <!-- Preview -->
      <div class="preview-box">
        <h2>Example Look</h2>
        <img id="preview-img" src="/images/placeholder.jpg" alt="Example" />
      </div>
    </div>

    <!-- Quote Form -->
    <div class="quote-form">
      <h3>Request a Quote</h3>
      <input type="text" id="name" placeholder="Your Name" />
      <input type="tel" id="phone" placeholder="Phone Number" />
      <button onclick="sendQuote()">Send Quote</button>
    </div>
  </Layout>

<script>
	import "../scripts/outfit-selection.js"
</script>
