<!-- Footer -->
<footer class="bg-dark text-white pt-3 footer-shadow mt-auto">
    <div class="container text-center flex flex-row footer">
        <div class="footer-text">
            <p>&copy; 2025 Esterial. All rights reserved.</p>
            <p>Created by Alexander Skliris</p>
        </div>
        <div class="social-icons">
            <a href="https://facebook.com" target="_blank"><i class="bi bi-facebook"></i></a>
            <a href="https://twitter.com" target="_blank"><i class="bi bi-twitter"></i></a>
            <a href="https://www.instagram.com/esterial_planning/" target="_blank"><i class="bi bi-instagram"></i></a>
        </div>
    </div>
</footer>