---
import Logo from "../assets/esterial-logo-universal.svg"
---

<nav class="navbar navbar-dark navbar-expand-lg bg-dark px-5 border-bottom border-secondary">
    <a class="navbar-brand" href="#">
        <img src={Logo.src} alt="Esterial" height="70">
    </a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav ms-auto">
            <li class="nav-item"><a class="nav-link text-light" href="#">Products</a></li>
            <li class="nav-item"><a class="nav-link text-light" href="#">Solutions</a></li>
            <li class="nav-item"><a class="nav-link text-light" href="#">Community</a></li>
            <li class="nav-item"><a class="nav-link text-light" href="#">Resources</a></li>
            <li class="nav-item"><a class="nav-link text-light" href="#">Pricing</a></li>
            <li class="nav-item"><a class="nav-link text-light" href="#">Contact</a></li>
        </ul>
    </div>
</nav>