---
import Logo from "../assets/esterial-logo-universal.svg"
import { getRelativeLocaleUrl } from 'astro:i18n';
---

<nav class="navbar navbar-expand-lg navbar-dark bg-dark border-bottom border-dimgray">
    <div class="container-small">
        <!-- Left Side (Navigation Links) -->
        <div class="nav-left order-lg-0">
            <ul class="navbar-nav d-none d-lg-flex">
                <li class="nav-item"><a class="nav-link" href={getRelativeLocaleUrl('en')}>Home</a></li>
                <li class="nav-item"><a class="nav-link" href={getRelativeLocaleUrl('en', "about")}>About</a></li>
                <li class="nav-item"><a class="nav-link" href={getRelativeLocaleUrl('en', "rent-my-dress")}>Rent My Dress</a></li>
            </ul>
        </div>

        <!-- Center (Logo) -->
        <a class="navbar-brand order-lg-1" href={getRelativeLocaleUrl('en')}>
            <img src={Logo.src} alt="Esterial" class="logo">
        </a>

        <!-- Right Side (Navigation Links) -->
        <div class="nav-right order-lg-2 ">
            <ul class="navbar-nav d-none d-lg-flex">
                <li class="nav-item"><a class="nav-link" href="#">Corporate</a></li>
                <li class="nav-item"><a class="nav-link" href="#">Services</a></li>
                <li class="nav-item"><a class="nav-link" href="#">Contact</a></li>
            </ul>
        </div>

        <!-- Mobile Menu Button -->
        <button class="navbar-toggler order-lg-0" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav">
            <span class="navbar-toggler-icon"></span>
        </button>

        <!-- Mobile Menu -->
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav mx-auto text-center d-lg-none">
                <li class="nav-item"><a class="nav-link" href="#">Home</a></li>
                <li class="nav-item"><a class="nav-link" href="#">About</a></li>
                <li class="nav-item"><a class="nav-link" href="#">Events</a></li>
                <li class="nav-item"><a class="nav-link" href="#">Corporate</a></li>
                <li class="nav-item"><a class="nav-link" href="#">Services</a></li>
                <li class="nav-item"><a class="nav-link" href="#">Contact</a></li>
            </ul>
        </div>
    </div>
</nav>

