---
import "bootstrap/dist/css/bootstrap.min.css";
import "bootstrap-icons/font/bootstrap-icons.css";
import "../styles/colors.css"
import "../styles/custom.css"
import Navigation from "../components/Navigation.astro";
import Footer from "../components/Footer.astro";
---

<!doctype html>
<html lang="en" data-bs-theme="dark">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<title>Esterial</title>
	</head>
	<body>
		<Navigation />
		<slot />
		<Footer />
	</body>
</html>

<script>
	import "bootstrap/dist/js/bootstrap.min.js";
	import "../scripts/nav-toggler.js"
</script>
